<%#= link_to 'New Task', new_task_path %>
<%= tag.div id: :project, data: { tasks: @tasks.to_json(include: :comments) } %>

<div id="app">
  <app></app>
  <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>

</div>

<%= javascript_pack_tag 'application' %>