<%= render 'form' %>

<div style="margin: 30px;">
  <% @todo.each do |task| %>
    <%= render task %>
  <% end %>
</div>

<div style="margin: 30px;">
  <% @completed.each do |task| %>
    <%= render 'task', task: task %>
  <% end %>
</div>