<%#= link_to 'New Task', new_task_path %>
<%= tag.div id: :project, data: { tasks: @tasks.to_json(include: :comments) } %>

<div id="app">
  <app></app>
</div>

<%= javascript_pack_tag 'application' %>